<div class="body-section calendar" id="calendar">
  <div class="calendar-body">
    <h2>{{sectionTitle}}</h2>
    <p class="descriptive">{{sectionDescription}}</p>
    <div class="row">

      <div class="col-md-6 col-lg-6 col-xl-3 col-12">
        <ng-container *ngFor="let item of items">
          <div class="calendar-event" *ngIf="item.area == 1">
            <div class="calendar-hide">
              <div class="img-container">
                <img src="{{item.image}}" alt="" />
              </div>
              <p><a class="centered-link form" target="_blank" href="{{item.formulario}}"><i
                    class="lnr lnr-file-empty"></i> Formulario
                  de inscripción</a></p>
              <p><a class="centered-link silph" target="_blank" href="{{item.link}}"><i class="lnr lnr-link"></i>
                  Inscripción
                  Silph</a></p>
              <p><a class="centered-link silph" rel="{{item.id}}" (click)="_findIndex($event)"><i
                    class="lnr lnr-magnifier"></i>
                  Ver
                  Información</a></p>
              <p class="reversed">Fecha de Vencimiento <strong>{{item.fechaCierre}}</strong></p>
            </div>
            <div class="row align-items-stretch no-p calendar-data" (click)="openElement($event)">
              <div class="date col-md-3">
                <p class="date-centered">{{item.dia}} <span>{{item.mes}}</span></p>
                <p class="date-normal">{{item.hora}}</p>
              </div>
              <div class="titles col-md-9">
                <h4>{{item.copa}} <span>{{item.organizado}}</span></h4>
                <p class="subt">{{item.lugar}}</p>
                <p class="{{item.rank}}">{{item.rank}}</p>
                <p class="paragraph">{{item.descripcion}}</p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-3 col-12">
        <ng-container *ngFor="let item of items">
          <div class="calendar-event" *ngIf="item.area == 2">
            <div class="calendar-hide">
              <div class="img-container">
                <img src="{{item.image}}" alt="" />
              </div>
              <p><a class="centered-link form" target="_blank" href="{{item.formulario}}"><i
                    class="lnr lnr-file-empty"></i> Formulario
                  de inscripción</a></p>
              <p><a class="centered-link silph" target="_blank" href="{{item.link}}"><i class="lnr lnr-link"></i>
                  Inscripción
                  Silph</a></p>
              <p><a class="centered-link silph" rel="{{item.id}}" (click)="_findIndex($event)"><i
                    class="lnr lnr-magnifier"></i>
                  Ver
                  Información</a></p>
              <p class="reversed">Fecha de Vencimiento <strong>{{item.fechaCierre}}</strong></p>
            </div>
            <div class="row align-items-stretch no-p calendar-data" (click)="openElement($event)">
              <div class="date col-md-3">
                <p class="date-centered">{{item.dia}} <span>{{item.mes}}</span></p>
                <p class="date-normal">{{item.hora}}</p>
              </div>
              <div class="titles col-md-9">
                <h4>{{item.copa}} <span>{{item.organizado}}</span></h4>
                <p class="subt">{{item.lugar}}</p>
                <p class="{{item.rank}}">{{item.rank}}</p>
                <p class="paragraph">{{item.descripcion}}</p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-3 col-12">
        <ng-container *ngFor="let item of items">
          <div class="calendar-event" *ngIf="item.area == 3">
            <div class="calendar-hide">
              <div class="img-container">
                <img src="{{item.image}}" alt="" />
              </div>
              <p><a class="centered-link form" target="_blank" href="{{item.formulario}}"><i
                    class="lnr lnr-file-empty"></i> Formulario
                  de inscripción</a></p>
              <p><a class="centered-link silph" target="_blank" href="{{item.link}}"><i class="lnr lnr-link"></i>
                  Inscripción
                  Silph</a></p>
              <p><a class="centered-link silph" rel="{{item.id}}" (click)="_findIndex($event)"><i
                    class="lnr lnr-magnifier"></i>
                  Ver
                  Información</a></p>
              <p class="reversed">Fecha de Vencimiento <strong>{{item.fechaCierre}}</strong></p>
            </div>
            <div class="row align-items-stretch no-p calendar-data" (click)="openElement($event)">
              <div class="date col-md-3">
                <p class="date-centered">{{item.dia}} <span>{{item.mes}}</span></p>
                <p class="date-normal">{{item.hora}}</p>
              </div>
              <div class="titles col-md-9">
                <h4>{{item.copa}} <span>{{item.organizado}}</span></h4>
                <p class="subt">{{item.lugar}}</p>
                <p class="{{item.rank}}">{{item.rank}}</p>
                <p class="paragraph">{{item.descripcion}}</p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-3 col-12">
        <ng-container *ngFor="let item of items">
          <div class="calendar-event" *ngIf="item.area == 4">
            <div class="calendar-hide">
              <div class="img-container">
                <img src="{{item.image}}" alt="" />
              </div>
              <p><a class="centered-link form" target="_blank" href="{{item.formulario}}"><i
                    class="lnr lnr-file-empty"></i> Formulario
                  de inscripción</a></p>
              <p><a class="centered-link silph" target="_blank" href="{{item.link}}"><i class="lnr lnr-link"></i>
                  Inscripción
                  Silph</a></p>
              <p><a class="centered-link silph" rel="{{item.id}}" (click)="_findIndex($event)"><i
                    class="lnr lnr-magnifier"></i>
                  Ver
                  Información</a></p>
              <p class="reversed">Fecha de Vencimiento <strong>{{item.fechaCierre}}</strong></p>
            </div>
            <div class="row align-items-stretch no-p calendar-data" (click)="openElement($event)">
              <div class="date col-md-3">
                <p class="date-centered">{{item.dia}} <span>{{item.mes}}</span></p>
                <p class="date-normal">{{item.hora}}</p>
              </div>
              <div class="titles col-md-9">
                <h4>{{item.copa}} <span>{{item.organizado}}</span></h4>
                <p class="subt">{{item.lugar}}</p>
                <p class="{{item.rank}}">{{item.rank}}</p>
                <p class="paragraph">{{item.descripcion}}</p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

    </div>
  </div>
</div>