<ng-container *ngFor="let banner of banners">
    <ng-container *ngIf="banner.id == 1">
        <div class="row no-p align-items-stretch full-body">

            <div class="col-md-7 col-12 no-p banner-section">
                <img src="{{banner.image}}" class="banner-img" alt="" />
                <div class="pattern"></div>
                <div class="title-text">
                    <h2>
                        {{banner.copa}}
                        <span>"{{banner.organizado}}"</span>
                        {{banner.distrito}}
                    </h2>
                </div>
            </div>
            <div class="col-md-5 col-12 no-p text-section">
                <div class="centered">
                    <p class="centered-subt">{{banner.dia}} de {{banner.mes}} / {{banner.hora}}</p>
                    <p class="centered-subt">{{banner.lugar}}</p>
                    <p class="centered-ranked">{{banner.ranked}}</p>
                    <p><a class="centered-link form" target="_blank" href="{{banner.formulario}}">Formulario de
                            inscripción</a></p>
                    <p><a class="centered-link silph" target="_blank" href="{{banner.link}}">Inscripción Silph</a></p>
                    <p class="paragraph">{{banner.descripcion}}</p>
                </div>
            </div>

        </div>
    </ng-container>
</ng-container>