<div class="info-layer body-section" #infolayer>
  <div class="info-layer-section info-layer-image">
    <div class="info-layer-image-container" *ngFor="let informe of infos">
      <img src="{{informe.image}}" alt="{{informe.copa}} {{informe.organizado}}" />
    </div>
  </div>
  <div class="info-layer-section info-layer-data">
    <span class="lnr lnr-cross close-range" (click)="_closeSection($event)"></span>
    <div class="info-layer-data-element" *ngFor="let info of infos">
      <h2>
        {{info.copa}}
        <span>"{{info.organizado}}"</span>
        {{info.distrito}}
      </h2>
      <p class="centered-subt">{{info.dia}} de {{info.mes}} / {{info.hora}}</p>
      <p class="centered-subt">{{info.lugar}}</p>
      <p class="centered-ranked">{{info.ranked}}</p>
      <p><a class="centered-link form" target="_blank" href="{{info.formulario}}">Formulario de inscripción</a></p>
      <p><a class="centered-link silph" target="_blank" href="{{info.link}}">Inscripción Silph</a></p>
      <p class="paragraph">{{info.descripcion}}</p>
      <h3>Premios:</h3>
      <p class="premios"><strong>Primer Premio:</strong> {{info.primero}}</p>
      <p class="premios"><strong>Segundo Premio:</strong> {{info.segundo}}</p>
      <p class="premios"><strong>Tercer Premio:</strong> {{info.tercero}}</p>
      <p class="sorteo">{{info.sorteos}}</p>
    </div>
  </div>
</div>