.animate {
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.info-layer {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    background: none;
    overflow: auto;

    

    &-section {
        flex: 0 0 50%;
        height: inherit;
        overflow: hidden;
        @extend .animate;

        @media (max-width: 640px) {
            width: 100%;
            height: initial;
        }
    }

    &-image{
        background: url('https://silph.gg/img/cups/jungle-cup-background.jpg') no-repeat center center;
        background-size: cover;
        transform: translateX(-100%);
        @extend .animate;

        @media (max-width: 640px) {
            height: 20vh;
        }

        img{
            display: block;
            position: absolute;
            height: auto;
            width: auto;
            max-width: 70%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border: 8px solid rgba(250,250,250,0.5);
            box-shadow: 0 0 12px rgba(0,0,0,0.5);
        }
    }

    &-data {
        background: #f8f7f6;
        transform: translateY(100%);
        @extend .animate;

        @media (max-width: 640px) {
            min-height: 80vh;
            overflow: hidden;
        }

        .close-range {
            position: absolute;
            top: 0; right: 0;
            margin: 10px;
            cursor: pointer;
            line-height: 24px;
            width: 24px;
            text-align: center;
            border-radius: 100%;
            background: #007bff;
            color: #fff;
        }

        &-element {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            min-height: 20px;
            overflow: hidden;
            box-sizing: border-box;
            width: 60%;
            margin: 0 20%;
            padding: 20px 0;
            color: #3b3b3b;

            @media (max-width: 640px) {
                position: relative;
                top: 40px;
                transform: initial;
                padding-bottom: 40px!important;
            }

            h2, h3 {
                font-size: 24px;
                text-transform: uppercase;
                font-weight: 600;
                line-height: 1.2em;
                color: #6b6b6b;
                margin-bottom: 25px;
            }

            h3 {
                font-size: 20px;
                margin-top: 20px;
            }

            strong {
                color: #3b3b3b;
            }

            .premios {
                margin-bottom: 10px;
            }

            .sorteo {
                color: #4b4b4b;
                font-size: 16px;
            }

            .centered-subt {
                font-size: 18px;
                text-transform: initial;
                font-weight: 300;
                line-height: 1.2em;
                color: #6b6b6b;
                margin-bottom: 5px;
            }

            .centered-link {
                display: inline-block;
                padding: 0.5rem 1rem 0.4rem;
                text-transform: uppercase;
                font-size: 1.6rem;
                margin: 0.4rem 0;
                color: #fff;
                background: #cfcfcf;
                text-decoration: none;
                @extend .animate;

                &:hover {
                    background: #dee42f;
                }

                &.form {
                    background: #2FE0E2;
                }

                &.silph {
                    background: #e46c2f;
                }
            }

            &:before {
                display: inline-block;
                width: 15%;
                height: 0;
                content: "";
                border-top: 0.3rem solid #dee42f;
                left: 0;
                top: 0;
                position: absolute;
            }
        }
    }

    &.blocked {
        display: flex;

        @media (max-width: 640px) {
            display: block;
        }

        &.activated {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 1000;
    
            .info-layer-data, .info-layer-image{
                transform: translateX(0);
                transform: translateY(0);
                @extend .animate;
            }
        }
    }

    
}