<div class="wrapper">
    <div class="header-fixed">
        <a href="#" class="logo-fixed">
            <h1>PVPERU</h1>
        </a>
        <p class="menu-indicator">
            <span class="fas fa-bars"></span> MENÚ
        </p>
    </div>
    <div class="body-section" id="header">
        <!-- <div class="row no-p align-items-stretch full-body">
            <div class="col-md-7 col-12 no-p banner-section">
                <img src="http://nosoyhipster.com/pvp/assets/images/transistor.jpg" class="banner-img" alt="" />
                <div class="pattern"></div>
                <div class="title-text">
                    <h2>
                        COPA ARCOIRIS
                        <span>"Torneos K"</span>
                        Surco
                    </h2>
                </div>
            </div>
            <div class="col-md-5 col-12 no-p text-section">
                <div class="centered">
                    <p class="centered-subt">23 de Junio / 4:00 PM</p>
                    <p class="centered-subt">Parque Gardenias de Surco</p>
                    <p class="centered-ranked">Rankeado</p>
                    <p><a class="centered-link form" href="#">Formulario de inscripción</a></p>
                    <p><a class="centered-link silph" href="#">Inscripción Silph</a></p>
                    <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer congue dui
                        non orci tempus, quis dictum tortor porttitor. Ut eleifend pretium velit. Aliquam semper
                        nunc at egestas accumsan.</p>
                </div>
            </div>
        </div> -->
        <app-banner></app-banner>
    </div>
    <app-item (sendData)="info._getInfo($event)"></app-item>
    <app-info #info></app-info>
</div>


