.animate {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

body,html{
    height: 100%;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 10px;
    background: #ecebe9;
}

p,h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

.no-p{
    padding: 0!important;
    margin: 0!important;
}

.header-fixed{
    display: none;
}

.wrapper{
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
}

.body-section,.full-body{
    height: 100%;
}


.banner-section{
    overflow: hidden;

    .banner-img{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    .pattern{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.15) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAK0lEQVQYV2NkYGD4zwABjFAazoFJoEjCVGFIImtHkUQxF8k+VAuhloN1AgDPXwYFFWv0agAAAABJRU5ErkJggg==) repeat;
        z-index: 2;
    }

    .title-text{
        position: relative;
        z-index: 10;
        top: 50%;
        left: 0;
        color: #dee42f;
        width: 49rem;
        min-height: 2rem;
        overflow: hidden;
        margin: 0 0 0 10%;
        transform: translateY(-50%);
        padding-left: 9.4rem; 
        text-shadow: 0 0 0.5rem rgba(27, 26, 26, 0.8);

        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 7rem;
            height: 0;
            border-top: 0.8rem solid #dee42f;
            top: 3.5rem;
            left: 0;
            box-shadow: 0 0 0.5rem rgba(27, 26, 26, 0.8);
        }

        p{
            text-indent: 0.4rem;
        }

        h2{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 5.8rem;
            text-transform: uppercase;
            line-height: 1em;
            font-weight: 700;
            margin: 1.5rem 0;

            span{
                display: block;
                position: relative;
            }
        }
    }
}

.text-section{

    .paragraph{
        margin-top: 1.5rem;
        color: #3b3b3b;
    }

    .centered{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 70%;
        padding: 2rem 0;
        color: #3b3b3b;

        &:before{
            display: inline-block;
            width: 15%;
            height: 0;
            content: "";
            border-top: 0.3rem solid #dee42f;
            left: 0; top: 0;
            position: absolute;
        }

        &-subt{
            font-size: 2.4rem;
            text-transform: uppercase;
            font-weight: 600;
            line-height: 1.2em;
            color: #6b6b6b;
        }

        &-ranked{
            color: #e46c2f;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 500;
            line-height: 1.2em;
            margin: 1rem 0;
        }

        &-link{
            display: inline-block;
            padding: 0.5rem 1rem 0.4rem;
            text-transform: uppercase;
            font-size: 1.6rem;
            margin: 0.4rem 0;
            color: #fff;
            background: #dee42f;
            text-decoration: none;
            @extend .animate;

            &.form{
                background: #2FE0E2;
            }

            &.silph{
                background: #e46c2f;
            }

            &:hover {
                @extend .animate;
                background: #007bff;
            }
        }
    }
}

.calendar{
    background: #ecebe9;

    &-body{
        position: relative;
        width: 96%;
        margin: 0 2%;

        h2{
            font-family: "Josefin Sans", sans-serif;
            font-size: 3.2rem;
            margin: 5rem 0 0.5rem;
            font-weight: 800;
        }

        .descriptive{
            font-size: 1.8rem;
            margin-bottom: 2.5rem;
            padding-bottom: 1.5rem;
            position: relative;

            &:after{
                content: "";
                display: inline-block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 15%;
                height: 0;
                margin-top: 1rem;
                border-bottom: 4px solid #007bff;
            }
        }

    }

    &-hide{
        background: #007bff;
        color: #fff;
        box-sizing: border-box;
        min-height: 0px;
        max-height: 0px;
        overflow: hidden;
        padding: 0 1rem 0;
        margin-bottom: 0;
        @extend .animate;

        &.open {
            padding: 1rem 1rem 4.5rem;
            margin-bottom: -3rem;
            max-height: 100rem;
            @extend .animate;
        }

        .img-container {
            position: relative;
            width: calc(100% + 2rem);
            height: 12rem;
            margin: -1rem -1rem 2.5rem;
            overflow: hidden;

            img{
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        p{
            margin-bottom: 1.2rem;

            &:last-child{
                margin-bottom: 0;
            }
        }

        a{
            color: #fff;
            background: rgba(255,255,255,0.2);
            display: inline-block;
            border-radius: 1rem;
            padding: 0.5rem 1.2rem;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.2rem; 
            @extend .animate;

            &:hover{
                @extend .animate;
                background: rgba(0,0,0,0.15);
            }
        }

        .reversed{
            font-size: 1.2rem;
            text-align: right;
            margin: 0.6rem 0 -0.5rem;
            color: rgba(250,250,250,0.6);
        }
    }

    &-data {
        background: #f8f7f6;
        border-top-left-radius: 2.5rem; 
        border-top-right-radius: 2.5rem; 
        overflow: hidden;
        box-sizing: border-box;
        padding: 2.5rem 1rem!important;

        .date{
            pointer-events: none;
            text-align: center;

            &-centered{
                font-size: 4.8rem;
                font-weight: 800;
                line-height: 1em;
                color: #007bff;

                span{
                    font-weight: 400;
                    display: block;
                    font-size: 2.4rem;
                    line-height: 1.2em;
                    color: #6b6b6b;
                }
            }

            &-normal{
                padding-top: 0.7rem;
            }
        }

        .titles{
            pointer-events: none;
            h4{
                font-size: 2.4rem;
                font-weight: 500;

                span{
                    display: block;
                }
            }

            .subt{
                font-weight: 600;
                margin-top: 0.7rem;
            }

            .ranked {
                color: #e46c2f;
            }

            .paragraph{
                // font-size: 1.2rem;
                font-weight: 300;
                padding: 0.8rem 0;
            }
        }
    }

    &-event{
        background: #f8f7f6;
        color: #6b6b6b;
        border-radius: 2.5rem;
        margin: 2rem 0;
        box-sizing: border-box;
        cursor: pointer;
        box-shadow: 0 0 1rem rgba(0,0,0,0.25);
        min-height: 20px;
        overflow: hidden;
    }
}

.lnr {
    vertical-align: -0.1rem;
}

@media (max-width: 564px) {
    .body-section, .full-body{
        height: initial;
        min-height: 100vh;
        overflow: hidden;

        .banner-section{
            height: 100vh;
            overflow: hidden;

            .title-text{
                width: 90%;
                padding-left: 0;
                margin: 0 auto;

                h2{
                    font-size: 4.6rem;
                }

                &:before{
                    display: none;
                }
            }
        }

        .text-section{
            height: 100vh;
        }
    }
}